In [69]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [70]:
response=requests.get('https://internshala.com/internships/internship-in-delhi/')

In [71]:
#response.txt

In [72]:
sp = BeautifulSoup(response.text, 'lxml')

In [13]:
data=sp.find_all('div',class_='internship_meta')

In [73]:
company_name=[]
for x in data:
  company_name.append(x.find('h3').text.strip())

In [74]:
company_name

['Campus Ambassador',
 'Instagram Reel Editing',
 'Content & E-Commerce Management',
 'Film Director',
 'Social Media Marketing',
 'E-Commerce Business Management',
 'Human Resources (HR)',
 'Data & Reporting',
 'Founders Office',
 'Business Development (Sales)',
 'Fashion Design',
 'Chartered Accountancy (CA)',
 'Fashion Design And Merchandising',
 'Telecaller',
 'E-commerce Operations',
 'Content Creator',
 'Visual Communications Design',
 'Videography',
 'Product Management',
 'Business Development (Sales)',
 'Inside Sales',
 'Telecalling',
 'Business Development (Sales)',
 'Sales And Business Development In Personal Finance',
 'Social Media Marketing For Interior/Architecture',
 'Business Development (Sales)',
 'Digital Marketing',
 'Subject Matter Expert (SME)',
 'Video Editing/Making',
 'Electronics Engineering',
 'Electronics Engineering',
 'Sales Executive',
 'Script Writer',
 'Accounting',
 'Product Management',
 'Operations',
 'Telecalling',
 'Sales',
 'Search Engine Optimization (SEO)',
 'Business Development (Sales)',
 'Search Engine Optimization (SEO)',
 'Video Editing/Making',
 'Business Development (Sales)']

In [75]:
location=[]
for x in data:
  location.append(x.find('a').text.strip())

In [76]:
location

['Bangalore, Delhi',
 'Delhi',
 'Delhi, Ghaziabad, Noida',
 'Noida, Gurgaon, Delhi',
 'Delhi',
 'Delhi',
 'Noida',
 'Delhi',
 'Delhi, Bhiwadi, Gurgaon',
 'Delhi, Noida',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi, Gurgaon',
 'Delhi',
 'Delhi',
 'Gurgaon, Delhi, Faridabad',
 'Noida, Delhi',
 'Delhi',
 'Noida, Greater Noida, Delhi, Ghaziabad',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi, Ghaziabad, Noida, Gurgaon, Faridabad',
 'Delhi']

In [77]:
start_date=[]
for x in data:
  start_date.append(x.find('span',class_='start_immediately_desktop').text.strip())

In [78]:
start_date

['Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately',
 'Immediately']

In [79]:
stipend=[]
for x in data:
  stipend.append(x.find('span',class_='stipend').text.strip())

In [80]:
stipend

['Performance Based',
 '₹ 8,000-10,000 /month',
 '₹ 12,000-15,000 /month',
 '₹ 7,500 /month',
 '₹ 6,000-10,000 /month',
 '₹ 2,000-4,000 /month',
 '₹ 7,000 /month',
 '₹ 10,000-15,000 /month',
 '₹ 30,000 /month',
 '₹ 15,000 /month',
 '₹ 2,000-10,000 /month',
 '₹ 3,000-6,500 /month',
 '₹ 2,000-10,000 /month',
 '₹ 12,000 /month',
 '₹ 2,000-4,000 /month',
 '₹ 20,000 /month',
 '₹ 15,000-30,000 /month',
 '₹ 10,000-20,000 /month',
 '₹ 2,000-5,000 /month',
 '₹ 3,000 /month',
 '₹ 25,000 /month',
 '₹ 7,000-10,000 /month',
 '₹ 5,000-10,000 /month',
 '₹ 6,000 /month',
 '₹ 8,000-15,000 /month',
 '₹ 2,000 /month +  Incentives',
 '₹ 5,000-10,000 /month',
 '₹ 12,000 /month',
 '₹ 8,000-20,000 /month',
 '₹ 7,500 /month',
 '₹ 15,000-25,000 /month',
 '₹ 15,000 /month',
 '₹ 5,000-15,000 /month',
 '₹ 7,000 /month',
 '₹ 20,000 /month',
 '₹ 7,000 /month',
 '₹ 5,000 /month',
 '₹ 10,000 /month',
 '₹ 5,000-10,000 /month',
 '₹ 10,000-20,000 /month',
 '₹ 8,000-12,000 /month',
 '₹ 7,500 /month',
 '₹ 15,000 /month']

In [81]:
dataframe={
    "campany_name":company_name,
    "location":location,
    "start_date":start_date,
    "stipend":stipend
}
df=pd.DataFrame(dataframe)

In [82]:
df.head()

,campany_name,location,start_date,stipend
0,Campus Ambassador,"Bangalore, Delhi",Immediately,Performance Based
1,Instagram Reel Editing,Delhi,Immediately,"₹ 8,000-10,000 /month"
2,Content & E-Commerce Management,"Delhi, Ghaziabad, Noida",Immediately,"₹ 12,000-15,000 /month"
3,Film Director,"Noida, Gurgaon, Delhi",Immediately,"₹ 7,500 /month"
4,Social Media Marketing,Delhi,Immediately,"₹ 6,000-10,000 /month"

In [68]:
df.to_csv('internshala_intership_data_of delhi.csv')